.idea/
.venv/
HW1/data/
HW1/*.ipynb_checkpoints/
HW1/base/
HW1/datanode/
HW1/historyserver/
HW1/namenode/
HW1/nginx/
HW1/nodemanager/
HW1/resourcemanager/
HW1/submit/
**__pycache__/

HW1/AB_NYC_2019.csv
HW1/docker-compose-v3.csv
HW1/hadoop.env
HW1/Makefile
HW1/Screenshots-for-Hadoop-Cluster-and-result-MapReduce.odt

HW2/src/.idea
